<div id="<%= dom_id(comment) %>" class="form-card">
  <h2>Comment Details</h2>
  <br>
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Gossip:</strong>
    <%= comment.gossip_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>
</div>
