<div id="<%= dom_id gossip %>">
  <p>
    <strong>Title:</strong>
    <%= gossip.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= gossip.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gossip.user_id %>
  </p>

</div>
