<h1>Editing gossip</h1>

<%= render "form", gossip: @gossip %>

<br>

<div>
  <%= button_to "Show this gossip", @gossip, method: :get, class: "actions" %> 
  <%= button_to "Back to gossips", gossips_path, method: :get, class: "actions" %>
</div>
