<div id="<%= dom_id private_message %>">
  <p>
    <strong>Content:</strong>
    <%= private_message.content %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= private_message.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= private_message.recipient_id %>
  </p>

</div>
