<div class="container">
  <h1>À propos de moi</h1>
  <div class="about-content">
    <p>
      Je m'appelle Jean-Baptiste, un étudiant passionné par le monde de la technologie et de la programmation informatique. Je suis membre de The Hacking Project depuis le 3 avril 2023, où j'apprends à devenir un développeur polyvalent.
    </p>
    <p>
      Je suis constamment à la recherche de nouvelles compétences et opportunités pour enrichir mes connaissances en développement. J'ai choisi de me spécialiser dans le développement Full Stack, en utilisant des technologies telles que Ruby on Rails, pour créer des applications web puissantes et dynamiques.
    </p>
    <p>
      Mon parcours d'apprentissage m'a permis de maîtriser les fondements du développement et de comprendre les principes fondamentaux de la programmation. J'ai également acquis une solide compréhension des langages de programmation, des bases de données et de la gestion de projet.
    </p>
    <p>
      Je suis un penseur créatif, toujours à la recherche de nouvelles idées et de solutions innovantes pour résoudre les problèmes. Je crois fermement à l'apprentissage continu et je suis motivé pour développer mes compétences techniques et explorer de nouvelles technologies.
    </p>
    <p>
      Je suis enthousiaste à l'idée de travailler sur des projets passionnants, de collaborer avec d'autres professionnels du domaine et de contribuer au développement de solutions informatiques ayant un impact positif sur la société.
    </p>
    <p>
      N'hésitez pas à me contacter si vous souhaitez discuter de projets intéressants ou si vous avez des opportunités de collaboration. Je suis ouvert aux nouvelles connexions et prêt à relever de nouveaux défis !
    </p>
  </div>
</div>