<div class="container">
  <h1 class="text-center mb-4">Manage Gossips</h1>
  
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-4 mb-4">
        <%= render 'admin/gossips/gossip', gossip: gossip %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
  <a href="<%= admin_dashboard_index_path %>" class="btn btn-primary">Admin Dashboard</a>
  </div>
</div>
